{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-lg-12">
        <h1 class="page-header">Sales List</h1>
    </div>

    <br>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item Number</th>
                <th>Name</th>
                <th>Type</th>
                <th>Vendor</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.itemNumber }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.productType.code }}</td>
                    <td>{{ product.manufacturer.code }}</td>
                    <td>${{ product.wholesalePrice }}</td>
                    <td><a href="{{ path('sales_list_add', {search: product.itemNumber}) }}">Add</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
