{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-lg-12">
        <h1 class="page-header">Packer Log</h1>
    </div>

    <form class="form" action="{{ path('packer_log_index') }}">
        <div class="row">
            <div class="form-group col-sm-3">
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" name="startDate" value="{{ startDate }}" placeholder="From..." class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" name="endDate" value="{{ endDate }}" placeholder="To...">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>
            <button class="btn btn-default" type="submit">Search</button>
        </div>
    </form>
    
    <p>Showing performance for: {{ startDate }} to {{ endDate }}</p>

    <br>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Packer</th>
                <th>Total Packages</th>
                <th>Total Items</th>
            </tr>
        </thead>
        <tbody>
            {% for packer in packerData %}
            <tr>
                <td>{{ packer.userId }}</td>
                <td>{{ packer.totalPackages }}</td>
                <td>{{ packer.totalItems }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
