{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }} 
    {% javascripts '@morris_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            var reports = $.parseJSON('{{ reports|json_encode|raw }}');

            var createBarGraphAvgOrdersPerDay = function () {

                return function (data) {

                    var el = $('<div>').height('250px');

                    var panel = $('<div>').addClass('panel panel-default')
                            .append($('<div>').addClass('panel-heading').html('Average Orders Per Day'))
                            .append($('<div>').addClass('panel-body')
                                    .append(el));

                    $('#ordersPerDay').append(panel);

                    Morris.Bar({
                        element: el,
                        data: data,
                        xkey: 'label',
                        ykeys: ['muffs', 'williams'],
                        labels: ['Muffs', 'Williams']
                    });

                };
            };

            var createBarGraphAvgDaysToShip = function () {

                return function (data) {

                    var el = $('<div>').height('250px');

                    var panel = $('<div>').addClass('panel panel-default')
                            .append($('<div>').addClass('panel-heading').html('Average Days To Ship'))
                            .append($('<div>').addClass('panel-body')
                                    .append(el));

                    $('#daysToShip').append(panel);

                    Morris.Bar({
                        element: el,
                        data: data,
                        xkey: 'label',
                        ykeys: ['muffs', 'williams'],
                        labels: ['Muffs', 'Williams']
                    });

                };
            };

            var createDonutShippingMethods = function () {
                
                return function (data) {

                    var el = $('<div>').height('250px');

                    var panel = $('<div>').addClass('panel panel-default')
                            .append($('<div>').addClass('panel-heading').html('Shipping Methods Used (Williams)'))
                            .append($('<div>').addClass('panel-body')
                                    .append(el));

                    $('#williamsShippingMethods').append(panel);

                    Morris.Donut({
                        element: el,
                        data: data['williams']
                    });

                    var el = $('<div>').height('250px');

                    var panel = $('<div>').addClass('panel panel-default')
                            .append($('<div>').addClass('panel-heading').html('Shipping Methods Used (Muffs)'))
                            .append($('<div>').addClass('panel-body')
                                    .append(el));

                    $('#muffsShippingMethods').append(panel);

                    Morris.Donut({
                        element: el,
                        data: data['muffs']
                    });
                    
                };

            };

            var createLineGraphOrdersPerHour = function () {

                return function (data) {

                    var el = $('<div>').height('250px');

                    var panel = $('<div>').addClass('panel panel-default')
                            .append($('<div>').addClass('panel-heading').html('Orders Per Hour'))
                            .append($('<div>').addClass('panel-body')
                                    .append(el));

                    $('#ordersPerHour').append(panel);

                    Morris.Line({
                        element: el,
                        data: data,
                        parseTime: false,
                        xkey: 'label',
                        ykeys: ['muffs', 'williams'],
                        labels: ['Muffs', 'Williams']
                    });

                };
            };

            for (var i = 0; i < reports.length; i++) {

                if (reports[i]['type'] == 'avgOrdersPerDay') {
                    $.getJSON(reports[i]['filename'], createBarGraphAvgOrdersPerDay());
                }

                if (reports[i]['type'] == 'avgDaysToShip') {
                    $.getJSON(reports[i]['filename'], createBarGraphAvgDaysToShip());
                }

                if (reports[i]['type'] == 'ordersPerHour') {
                    $.getJSON(reports[i]['filename'], createLineGraphOrdersPerHour());
                }
                
                if (reports[i]['type'] == 'shippingMethods') {
                    $.getJSON(reports[i]['filename'], createDonutShippingMethods());
                }

            };

        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@morris_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <div class="row">

        <div id="daysToShip" class="col-sm-12"></div>
        <div id="ordersPerDay" class="col-sm-12"></div>
        <div id="ordersPerHour" class="col-sm-12"></div>
        <div id="williamsShippingMethods" class="col-sm-6"></div>
        <div id="muffsShippingMethods" class="col-sm-6"></div>

    </div>

{% endblock %}
